<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title 狸小路 | 最新消息
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.png", type="image/x-icon")
    body
        include nav.pug

        div(class="breadcrumbs")
            div(class="breadcrumbs-box")
                a(href="index.html") 首頁
                span /
                a(href="#" class="breadcrumbs-current") 最新消息

        include footer.pug